/* Clock */
#clock{
  // position:relative;
  // @include vh-middle();
  height: 100%;
  width: 100%;
  #clock-hours {
    position:relative;
  }
  #clock-minutes  {
    svg{
      height: 80%;
      width: 80%;
      @include vh-middle();
    }

    #clock-seconds {
      color:#fff;
      font-size: 4em;
      @include vh-middle();
    }

  }
}