.foodtitle {font-size:4vw; margin-left:4%; margin-bottom:0; padding-bottom:0;}
.smaller.right {text-align:right;font-size:1.3vw; float:right; display:inline; margin:3% 5% 0 0;}

.foods, .movies {
  .item:nth-child(1n+13) {display:none; visibility:hidden;}

  .item {padding:2% 5% 2%; font-size:90%;  font-size:0.7vw; line-height:0.8em;position:relative;min-height:2vw;
    p{margin:0 0 5px;}
    h3 {margin:0;text-transform:uppercase; font-weight:900;font-size:120%; color:rgba(0,0,0,.6); white-space:nowrap; text-overflow:ellipsis; overflow:hidden; max-width:12vw;}
  }
  .item:nth-child(2n) {
    background:rgba(0,0,0,.05);
  }

  .item-header{
    a {color:#000;color:rgba(0,0,0,.6)}
    .details,.tags {display:none;}
  }
  .item-body {
    margin-top:0.3vw;
    .price {float:left;margin-right:20px; width:2vw; font-weight:bold; font-size:80%; display:none;} 
     .missing, .info,.diet{display:none}
    .menu-item:nth-child(1n+5) {display:none;}
    ul {
      margin:0; padding:0;
      li {list-style:none;}
    }
  }
  .item-footer {
    p:nth-child(2) {display:none;}
  }
  .dist {float:right; display:inline-block; color:#FFF;background:transparent; border:1px solid #FFF; 
    height:2.3vw; width:2.3vw; line-height:2.3vw;
    margin:0;padding:0;
    font-weight:900; border-radius:100%;-webkit-border-radius:100%; position:absolute; right:10px; top:10px;text-align:center;}
}

.foods{
  .item {min-height:3vw;
     h3 {max-width:20vw;}
  }
 
}

.movies{
  
  .item:nth-child(1n+13) {display:block; visibility:visible;}
  .item {
    line-height:1.6vw;
    h3 {float:left;line-height:1.6vw;}
    .showtimes {float:right;
      .showtime{font-weight:900; display:inline-block;line-height:1.3em;margin-left:10px; font-size:87%;}
      .showtime:first-child {margin:0;}
    }
    .img{
      margin:-1% 2.5% -1% 0;
      float:left;display:inline-block;height:2vw; width:2vw;background:rgba(0,0,0,.1); border-radius:50%;overflow:hidden;text-align:center; 
      background-size:cover; background-position:50% 50%;
    }
  }
}