.foodtitle {
  font-size: 2vw;
  color: #444;
  margin: 0;
  padding-bottom:0;
  font-weight: 400;
  text-align: center;

  display: flex;
  height: 8vh;
  align-items: center;
  justify-content: center;

  display: none;
}

.smaller.right {
  text-align:right;
  font-size:1.3vw;
  float:right;
  display:inline;
  margin:3% 5% 0 0;
}



.foods, .movies {
  .item:nth-child(1n+13) {
    display:none;
    visibility:hidden;
  }

  .item {
    -webkit-font-smoothing: antialiased;
    padding: 0% 6% 0% 2%;

    width: 33.33%;
    height: 290px;
    height: 33.33vh;

    font-size: 1vw;
    line-height: 1.25;

    position: relative;
    min-height: 2vw;
    display: inline-block;
    margin: 0;
    background: rgba(255, 255, 255, 0);
    float: left;
    overflow: hidden;

    p {
      margin:0 0 0.4vw;
      font-weight: 400;
    }

    p.dish {
      text-transform: lowercase;
      &:first-letter {
        text-transform: uppercase;
      }
    }
    h3 {
      margin:0;
      padding: 0;

      text-transform:uppercase;
      font-size:130%;

      color:rgba(0,0,0,.6);
      white-space:nowrap;
      text-overflow:ellipsis;
      overflow:hidden;
    }
  }

  .item:nth-child(2n) {
    background: rgba(#493691, .8);
  }

  .item-header{
    margin-top: 3.4vh;
    a {
      color: $title-color;
      margin-bottom: 5px;
      display: block;
      font-weight: bold;
      margin-bottom: 2.5vh;
    }

    .icon, .details,.tags {display:none;}
  }
  .item-body {
    margin-top:0.3vw;
    .price {float:left;margin-right:20px; width:2vw; font-weight:bold; font-size:80%; display:none;}
     .missing, .info,.diet{display:none}
    .menu-item:nth-child(1n+5) {display:none;}
    ul {
      margin:0; padding:0;
      li {list-style:none;}
    }

    .offer-block {
      display: none;
    }
  }
  .item-footer {
    p:nth-child(2) {display:none;}
  }
  .dist {
    float:right;
    display:inline-block;
    color: #aaa;
    background:transparent;
    // border:2px solid #666;

    // height: 5vw;
    // width: 5vw;
    // line-height: 5vw;
    // line-height: calc(5vw - 4px);
    // margin: 1.5vw 1.5vw !important;

    // border-radius: 50%;
    // -webkit-border-radius: 50%;

    padding:0;
    font-weight: 300;
    color: rgba(#fff, .6);

    position:absolute;
    right: 4vh;
    top: 3.15vh;
    text-align:center;
    font-size: 1.4em;
   }
}
