.foodtitle {
  font-size: 2vw;
  color: #444;
  margin-left: 1.5%;
  margin-bottom: 1vw;
  padding-bottom:0;
  font-weight: 400;
  text-align: center;
}

.smaller.right {
  text-align:right;
  font-size:1.3vw;
  float:right;
  display:inline;
  margin:3% 5% 0 0;
}


.foods.loading {
  text-align: center;
  font-size: 5vw;
  color: rgba(0, 0, 0, .5);
  font-weight: 200;
  margin: 25vh auto;
}

.foods, .movies {
  .item:nth-child(1n+13) {
    display:none;
    visibility:hidden;
  }

  .item {
    padding: 1.5% 8% 1.5% 1.5%;


    font-size: 1vw;
    line-height: 1.25;

    position: relative;
    min-height: 2vw;
    display: inline-block;
    width: 33.33%;
    margin: 0;
    background: rgba(255, 255, 255, 0);
    height: 290px;
    float: left;

    p{ margin:0 0 0.4vw;}
    h3 {margin:0;text-transform:uppercase; font-weight:600; font-size:110%; color:rgba(0,0,0,.6); white-space:nowrap; text-overflow:ellipsis; overflow:hidden; max-width:12vw;}
  }

  .item:nth-child(2n) {
    background:rgba(0,0,0,.025);
  }

  .item-header{
    a {
      color: #444;
      margin-bottom: 5px;
      display: block;
    }
    .details,.tags {display:none;}
  }
  .item-body {
    margin-top:0.3vw;
    .price {float:left;margin-right:20px; width:2vw; font-weight:bold; font-size:80%; display:none;}
     .missing, .info,.diet{display:none}
    .menu-item:nth-child(1n+5) {display:none;}
    ul {
      margin:0; padding:0;
      li {list-style:none;}
    }
  }
  .item-footer {
    p:nth-child(2) {display:none;}
  }
  .dist {
    float:right;
    display:inline-block;
    color: #666;
    background:transparent;
    border:2px solid #666;

    height: 5vw;
    width: 5vw;
    line-height: 5vw;
    line-height: calc(5vw - 4px);

    padding:0;
    margin: 1.5vw 1.5vw !important;
    font-weight: 300;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    position:absolute;
    right: 0px;
    top: 0px;
    text-align:center;
    font-size: 1.4em;
   }
}

.foods{
  .item { min-height:3vw;
     h3 { max-width:20vw; }
  }

}

.movies{

  .item:nth-child(1n+13) {display:block; visibility:visible;}
  .item {
    line-height: 1.6vw;
    h3 {float:left;line-height:1.6vw;}
    .showtimes {float:right;
      .showtime{font-weight:400; display:inline-block; line-height:1.3em; margin-left:10px; font-size:93%;}
      .showtime:first-child {margin:0;}
    }
    .img{
      margin:-1% 2.5% -1% 0;
      float:left;display:inline-block;height:2vw; width:2vw;background:rgba(0,0,0,.1); border-radius:50%;overflow:hidden;text-align:center;
      background-size:cover; background-position:50% 50%;
    }
  }
}
