$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "_variables.scss";
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
@import "_mixins.scss";
@import "_grid.scss";
@import "_hexagon.scss";
@import "_clock.scss";
@import "_huge.scss";


//$bg-color: #863DBF;
$bg-color: #77D4CB;

body{
  background:$bg-color;
  //@include background-gradient(#77D4CB,#863DBF); //this is quite cool as well
  //overflow: hidden;
}
body.fixed{overflow: hidden;}

h1 {font-size:4vw;font-weight:900;text-transform:uppercase;
  color:#FFF;
	.smaller {color:rgba(0,0,0,.5); font-size:2vw;display:block;}
}
h1.vh-middle {font-size:4.5vw;font-weight:900; text-align:center; margin:0;padding:0;}
h2 {font-size:2vw}
h3 {font-size:1.6vw}


.fullheight {min-height:100%;}
.logo {width:20vmin;float:right;margin:5vmin;opacity:1;}
.center {text-align:center;}

.futucell           {background:transparent;color:#fff;overflow:hidden;border:none;height:100%;position:relative;}
.futucell.even      {background:rgba(255,255,255,.05);}
.futucell.orange    {background:#FFF0D1;color:#FF821F; background:transparent;color:rgba(0, 0, 0, 0.5);}
.futucell.grey      {background:rgba(0,0,0,.1);color:#fff;}
.futucell.lightgreen{background:#E6F5DB;color:#00594A;}
.futucell.green     {background:#339E40;color:#fff;}
.futucell.purple    {background:#4F0A59;color:#BFC2E6;}
.futucell.white     {background:#fff;color:#339E40;}
.futucell.dark      {background:#BFC2E6;color:#4F0A59;}

.btn-outline{background:transparent;color:#FFF; border:1px solid #FFF; box-shadow:none;
  &:hover, &:active,&:focus {background:rgba(255,255,255,.1);color:#FFF;}
}

.absolute-left-corner {position:absolute;left:0;top:0;z-index: 99;}
.visible-on-hover {
  .toggle{visibility: hidden;display: none;}
  &:hover,&:active,&:focus {
    .toggle {visibility:visible;display: inline-block;}
  }
}
.vh-middle {@include vh-middle();}
.Grid-halfheight {height:50vh}


// Weather
.weathertitle {margin:-3vw 0 0 !important;}
.weathericon {font-size: 18vw;display:block;margin:0 0 -6vw;}


// Blog
.futucell.blogcell {background-size:cover;background-position:center; color:#fbfa5b;}
#bg  {content:'';background:$bg-color;opacity:0.6; display:block;top:0;left:0;position:absolute;width:100%; height:100%;z-index:0;}
.futucell.blogcell > span {transition:all 0.5s; padding:1% 5%; display:block; text-shadow:0 0 15px rgba(0, 0, 0, 0.3);position:relative;z-index:2;}
.blogContent {position:relative;z-index:1;}
.blog {font-size:120%;}
.blog h2 {font-weight:900;}
.blog h3 {color:#FFF;font-weight:100;}
.blogcell .qr {position: absolute;left:0;bottom:0;width:18%;z-index: 3;}
.clock-wrap {height:40vh;width:40vh;@include vh-middle();}


// Canvas
    canvas{
        width: 90% !important;
        max-width: 800px;
        height: auto !important;
    }
    canvas#temperature{
    	width: 80% !important;
      opacity: 0.6;
    }
    canvas#flowChart{
    	position: absolute;left:1%;bottom:1%;
    	width:98%;
    }


// Map
#mapcell {
  img {width:12vw;display:block;}
  #map-canvas{height:100%; width:100%;opacity:0.9;}
}
.gmnoprint a, .gmnoprint span {
    display:none;
}
.gmnoprint div {
    background:none !important;
}
img[src="http://maps.gstatic.com/mapfiles/api-3/images/google_white2.png"], a[href^="http://maps.google.com/maps"]{
    display:none !important;
}


// Settings
.navbar {
  background: rgba(255,255,255,.1);
  margin:0;
  padding:1vw 0;
  a {color:#fff;padding:0 2vw; font-size:4vw;text-decoration: none;text-transform: uppercase;font-weight:100 }
  h1{margin:1vw 2vw 0 0;padding:0; }
}
label {font-weight:900; color:#FFF; text-transform:uppercase;padding-top:10px; display:inline-block;}
.pull-middle{max-width:400px; display:block; margin:2vw auto;}
.subset {display:block; margin-bottom:20px;}
.set {padding-bottom:20px; margin-bottom:20px;border-bottom:1px solid rgba(255,255,255,.3);}
.subset-label {margin-top:20px;display:block; text-align:left; font-size:150%;}

